<%- include('../template/header.ejs'); -%>

<div class="container mt-5">
   <p class="display-6 text-center">
        <span>ERROR 404</span>
        <span>CLIQUER <a href="/login">ICI</a> POUR REVENIR A LA PAGE D'ACCEUIL</span>
   </p>
</div>

<%- include('../template/footer.ejs'); -%>
