<%- include('../template/header.ejs'); -%>

        <%- include('../component/nav.ejs'); -%>

          <div class="container display-6 text-center">
               <h1>Mes Articles</h1>
          </div>

    

<%- include('../template/footer.ejs'); -%>